{% extends "website/base.html" %}
{% block content %}
	{% if tenancy_summaries %}
	<h1>Tenancies:</h1>
	    <ul>
	    {% for tenancy_summary in tenancy_summaries %}
	        <li>{{ tenancy_summary }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No tenancies.</p>
	{% endif %}
	{% if property_summaries %}
	<h1>Properties:</h1>
	    <ul>
	    {% for property_summary in property_summaries %}
	        <li>{{ property_summary }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No Properties.</p>
	{% endif %}
{% endblock %}
