{% extends "website/base.html" %}
{% block content %}
	{% if property %}
	    <p><h2>Property: {{ property.name }}</h2></p>
	    <p>Rooms:</p>
	    <ul>
	    	{% for room in property.room_set.all %}
	    	<li>{{ room.name }}</li>
	    	{% endfor %}
	    </ul>
	    <form action="{% url 'room_new' %}" method="post">
	    	<input type="hidden" name="property" value="{{ property.id }}" />
	    	{% csrf_token %}
	    	{{ room_form.as_p }}
	    	<input type="submit" value="Create" />
	    </form>
	{% endif %}
{% endblock %}
