<a href="{% url 'building' building.id %}" class="kanban building_summary">
	<div>
		<h3>{{ building.name }}</h3>
		<table>
			<tr>
				<td class="icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
				<td class="data">{{ building.rooms_full_count }} / {{ building.rooms_count }}</td>
			</tr>
			<tr>
				<td class="icon"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span></td>
				<td class="data">{{ building.tenancy_balance }}</td>
			</tr>
			<tr>
				<td class="icon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></td>
				<td class="data">£{{ building.profit_per_month }}pm, £{{ building.profit_per_year }}pa</td>
			</tr>
			{% if building.notices %}
			<tr>
				<td class="icon"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></td>
				<td class="data">
					{% for notice in building.notices %}
					<div class="warning">{{ notice }}</div>
					{% endfor %}
				</td>
			</tr>
			{% endif %}
		</table>
	</div>
</a>
