
/* 
 * base
 * --------------------------------------------------
 */
body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #333;
}

/* tables */
.table-container th.asc:after {
  content: '\0000a0\0025b2';
}

.table-container th.desc:after {
  content: '\0000a0\0025bc';
}

.pagination {
  text-align: center;
}

/* forms */
select {
    max-width: 100%;
}

.delete_ajax {
    cursor: hand;
    cursor: pointer;
}

/* select2 */
.select2-search, .select2-search input, .select2-results { 
	background-color: #e3e3e3; 
}

/* dashboard */
.dashboard .item {
	margin: 15px;
	padding: 15px;
}

.dashboard .item:hover {
	background-color: #bbbbbb;
	text-decoration: none;
}

.dashboard .item, .dashboard .item.ok {
	background-color: #e3e3e3;
}

.dashboard .item.problem {
	background-color: red;
}

.dashboard .item.warning {
	background-color: orange;
}

.dashboard .item .icon.large {
	font-size: 3em;
}

 .building_summary table td{
 	padding: 5px;
 }

/* 
 * layout
 * --------------------------------------------------
 */
header h1 {
	text-align: center;
}

header navigation {
	padding: 20px;
	display: block;
	text-align: center;
	background-color: #e3e3e3;
}

header navigation ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header navigation ul li {
	display: inline;
}

#content {
	margin: 50px;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #e3e3e3;
	font-style: italic;
	font-size: .8em;
}

/* index */
#dashboard_placeholder {
	display: block;
	text-align: center;
	margin: 50px auto;
}

/* 
 * bootstrap modifications 
 * --------------------------------------------------
 */
/* Row with equal height columns */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 
 * helper
 * ----------------------------------------------
 */
 .nowrap { 
    white-space: nowrap;
 }
 