/* base */
body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #333;
}

/* tables */
.table-container th.asc:after {
  content: '\0000a0\0025b2';
}

.table-container th.desc:after {
  content: '\0000a0\0025bc';
}

.pagination {
  text-align: center;
}

/* select2 */
.select2-search, .select2-search input, .select2-results { 
	background-color: #e3e3e3; 
}

/* layout */
header h1 {
	text-align: center;
}

header navigation {
	padding: 20px;
	display: block;
	text-align: center;
	background-color: #e3e3e3;
}

header navigation ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header navigation ul li {
	display: inline;
}

#content {
	margin: 50px;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #e3e3e3;
	font-style: italic;
	font-size: .8em;
}

/* dashboard */
.kanban-container {
	text-align: center;
}

.kanban {
	padding: 15px;
	background-color: #e3e3e3;
	display: inline-block;
	margin: 20px;
}

.kanban:hover {
	background-color: #bbbbbb;
	text-decoration: none;
}

.kanban .icon.large {
	font-size: 3em;
}

 .building_summary table td{
 	padding: 5px;
 }
